:root {
  --game-background-color: rgb(165, 165, 165);
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}

.container > .row {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

.row.start-screen-items {
  width: 50%;
}

.row.start-screen-items > * {
  width: 100%;
  /* flex: 1 1 100%; */
  text-align: center;
}

.row.start-screen-items button {
  width: 50%;
  flex-basis: 50%;
  flex-grow: 0;
}

.start-game-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--game-background-color);
}

.snake-game > .container {
  flex-direction: column;
}

/* .blur {
  background-color: rgba(0, 0, 0, 0.1);
} */
